/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/* Wallet gradient background */
/* App Cards gradient background */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/**
 * Define Breakpoints here.
 */
.terms-of-use {
  margin: 0 8rem !important;
  width: 84% !important; }
.terms-of-use {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  @media (min-width: 320px) and (max-width: 767px) {
    .terms-of-use {
      margin: 0 !important;
      margin: initial !important;
      width: auto !important;
      width: initial !important; } }
  .terms-of-use__checkbox {
    margin-top: 1.6rem; }
    .terms-of-use__checkbox:last-of-type {
      margin-bottom: 5rem; }
  .terms-of-use__hr {
    height: 2px;
    margin: 1.6rem 0 0;
    width: 100%;
    border-top: 1px solid var(--general-section-1); }
    @media (min-width: 320px) and (max-width: 767px) {
      .terms-of-use__hr {
        border-top-width: 2px;
        border-color: var(--border-disabled);
        width: 100%; } }
  .terms-of-use h4 {
    margin: 1rem 0;
    text-transform: none; }
  .terms-of-use p {
    font-size: 1.4rem;
    color: var(--text-general);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    color: var(--text-general); }
  .terms-of-use input {
    display: none; }
  @media (min-width: 320px) and (max-width: 767px) {
    .terms-of-use .dc-checkbox__box {
      width: 2.4rem;
      height: 2.4rem; }
      .terms-of-use .dc-checkbox__box .dc-icon {
        width: 2.4rem;
        height: 2.4rem; } }

