/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/* Wallet gradient background */
/* App Cards gradient background */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/**
 * Define Breakpoints here.
 */
.cashier-empty-state {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 67.2rem;
  margin: 4rem auto 0; }
  .cashier-empty-state__icon {
    width: 12.8rem;
    height: 12.8rem;
    margin-bottom: 2.4rem; }
  .cashier-empty-state__title {
    margin-bottom: 0.8rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .cashier-empty-state__title {
        margin-left: 1.2rem;
        margin-right: 1.2rem; } }
  .cashier-empty-state__desc {
    margin-bottom: 3.2rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .cashier-empty-state__desc {
        padding: 0 1rem; } }
  .cashier-empty-state__action {
    margin: 3.2rem auto; }

/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/* Wallet gradient background */
/* App Cards gradient background */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/**
 * Define Breakpoints here.
 */
.side-note--mobile {
  background-color: var(--general-section-1);
  border-radius: 8px;
  padding: 1.6rem 2.4rem;
  color: var(--text-general);
  font-size: var(--text-size-xxs);
  line-height: 1.5;
  margin: 2.4rem 0;
  width: auto;
  text-align: left; }
  .side-note--mobile.outside-wrapper {
    margin: 2.4rem; }

.side-note__text {
  margin-bottom: 0.8rem; }

.side-note__bullet {
  background-color: var(--text-general);
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 0.4rem;
  height: 0.4rem;
  flex: none;
  margin-top: 0.8rem; }
  .side-note__bullet-wrapper {
    display: flex;
    margin-top: 1.1rem; }

/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/* Wallet gradient background */
/* App Cards gradient background */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/**
 * Define Breakpoints here.
 */
.on-ramp__page-header {
  margin-bottom: 1.7rem; }
  @media (max-width: 926px) {
    .on-ramp__page-header {
      margin: 1.7rem; } }

.on-ramp__info {
  box-shadow: 0 0.8rem 0.8rem 0 var(--shadow-drop), 0 0 0.8rem 0 var(--shadow-drop);
  padding: 1.6rem 1.6rem 0.8rem;
  border-radius: 0.8rem;
  margin-top: 1.6rem;
  width: 100%; }
  .on-ramp__info-header {
    margin-bottom: 1.6rem; }

.on-ramp__read-more {
  font-size: var(--text-size-xxs);
  color: var(--text-general);
  margin-bottom: 0.8rem; }

.on-ramp__provider {
  box-shadow: 0 0.8rem 0.8rem 0 var(--shadow-drop), 0 0 0.8rem 0 var(--shadow-drop);
  padding: 1.6rem 1.6rem 0.8rem;
  border-radius: 0.8rem;
  display: grid;
  width: 100%;
  grid-column-gap: 2.4rem;
  grid-template-areas: "logo name name" "logo description buy" "logo description buy" "logo payment-icons payment-icons"; }
  @media (max-width: 926px) {
    .on-ramp__provider {
      grid-template-areas: "logo name name name" "logo description description description" "logo description description description" "payment-icons payment-icons payment-icons buy"; } }
  .on-ramp__provider + .on-ramp__provider {
    margin: 1.6rem 0rem; }
  .on-ramp__provider-logo {
    align-self: center;
    grid-area: logo; }
    @media (max-width: 926px) {
      .on-ramp__provider-logo {
        align-self: start; } }
  .on-ramp__provider-name {
    grid-area: name;
    margin-bottom: 0.8rem; }
  .on-ramp__provider-description {
    grid-area: description;
    width: 390px;
    min-height: 60px; }
    @media (max-width: 926px) {
      .on-ramp__provider-description {
        width: auto;
        height: auto; } }
  .on-ramp__provider-payment-icons {
    position: relative;
    white-space: nowrap;
    margin-top: auto;
    grid-row: payment-icons;
    grid-column-start: payment-icons;
    overflow: hidden; }
    .on-ramp__provider-payment-icons-shadow {
      right: 0;
      top: 0;
      height: 40px;
      width: 40px;
      z-index: 1;
      position: absolute;
      background-image: var(--gradient-right-edge); }
    .on-ramp__provider-payment-icons svg {
      margin-top: auto;
      margin-right: 1.6rem; }
  .on-ramp__provider-button {
    align-self: center;
    grid-area: buy;
    justify-self: flex-end; }

.on-ramp__popup {
  color: var(--text-general); }
  .on-ramp__popup-deposit {
    display: flex;
    flex-direction: column; }
    .on-ramp__popup-deposit-address {
      display: inline-flex;
      border-radius: 4px;
      align-self: center;
      align-items: center;
      padding: 1.2rem;
      margin: 1.6rem;
      background-color: var(--general-section-2); }
      @media (min-width: 320px) and (max-width: 767px) {
        .on-ramp__popup-deposit-address {
          margin: 1.6rem 0.8rem;
          width: calc(100% - 1.6rem);
          display: flex;
          justify-content: space-around; } }
      .on-ramp__popup-deposit-address-hint {
        align-self: center; }
      .on-ramp__popup-deposit-address > div {
        width: 100%; }
      .on-ramp__popup-deposit-address-text {
        cursor: pointer;
        width: 26.5rem;
        background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
        background: initial; }
        @media (min-width: 320px) and (max-width: 767px) {
          .on-ramp__popup-deposit-address-text {
            overflow-x: scroll !important; }
          .on-ramp__popup-deposit-address-text {
            width: calc(100% - 2rem); }
            .on-ramp__popup-deposit-address-text::-webkit-scrollbar {
              display: none; } }
        .on-ramp__popup-deposit-address-text--dark {
          color: var(--text-general); }
        .on-ramp__popup-deposit-address-text:disabled {
          opacity: 1; }
      .on-ramp__popup-deposit-address-icon {
        margin-left: 0.8rem;
        cursor: pointer; }
      .on-ramp__popup-deposit-address .dc-popover__target {
        margin-top: 0.1rem;
        display: flex;
        align-items: center; }
  .on-ramp__popup-divider {
    height: 2px;
    width: 100%;
    background-color: var(--general-section-2);
    margin: 2.4rem 0; }
  .on-ramp__popup-disclaimer-title {
    margin-bottom: 0.8rem; }
  .on-ramp__popup-disclaimer-checkbox .dc-checkbox__box {
    margin-left: 0; }
  .on-ramp__popup-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.4rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .on-ramp__popup-buttons {
        margin-bottom: 4rem; } }
  .on-ramp__popup-no-deposit-address {
    display: flex;
    flex-direction: column; }
    .on-ramp__popup-no-deposit-address-text {
      margin-bottom: 2.4rem; }
    .on-ramp__popup-no-deposit-address-buttons {
      align-self: flex-end; }
  @media (min-width: 320px) and (max-width: 767px) {
    .on-ramp__popup .dc-hint-box__icon {
      align-self: start; }
    .on-ramp__popup .dc-hint-box__message {
      text-align: left; } }

.on-ramp__widget-container {
  padding: 0.8rem;
  overflow: visible; }
  .on-ramp__widget-container--error {
    display: flex;
    flex-flow: column;
    align-items: center; }

@media (min-width: 320px) and (max-width: 767px) {
  .dc-modal__container_on-ramp__modal {
    max-width: calc(100vw - 6rem) !important;
    max-height: calc(100vh - 6rem) !important; } }

.dc-modal__container_on-ramp__modal > .dc-modal-header__title {
  padding-top: 2.4rem !important; }

@media (min-width: 320px) and (max-width: 767px) {
  .dc-modal__container_on-ramp__modal > .dc-modal-body {
    overflow: scroll; } }

